@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}
body{
	background-image: url("bgg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

.heading{
    padding-bottom: 2rem;
    text-align: center;
    font-size: 4.5rem;
    color:var(--black);
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom:1rem; left:0;
    height: 100%;
    width: 100%;
    background: var(--light-yellow);
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:var(--light-yellow);
    color:var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

.btn:hover{
    background:var(--yellow);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding:3rem 9%;
    z-index: 1000;
    background: #fff;
}

.header .logo{
    font-size: 2.5rem;
    color:var(--black);
    font-weight: bold;
}

.header .logo span{
    color:var(--yellow);
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.7rem;
    color:var(--black);
}

.header .navbar a:hover{
    color:var(--yellow);
}

#login-btn .btn{
    margin-top: 0;
}

#login-btn i{
    display: none;
    font-size: 2.5rem;
    color:var(--light-color);
}

.header.active{
    padding:2rem 9%;
    box-shadow: var(--box-shadow);
}

#menu-btn{
    font-size: 2.5rem;
    color:var(--light-color);
    display: none;
}

.login-form-container{
    position: fixed;
    top:-105%; left:0;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    z-index: 10000;
}

.login-form-container.active{
    top:0;
}

.login-form-container form{
    margin:2rem;
    text-align: center;
    padding:2rem;
    width:40rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    background: #fff;
}

.login-form-container form .buttons{
    display: flex;
    gap:1rem;
    align-items: center;
}

.login-form-container form .btn{
    display: block;
    width:100%;
    margin:.5rem 0;
}

.login-form-container form .box{
    margin:.7rem 0;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    border:var(--border);
    padding:1rem 1.2rem;
    border-radius: .5rem;
}

.login-form-container form p{
    padding:1rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.login-form-container form p a{
    color:var(--yellow);
    text-decoration: underline;
}

.login-form-container form h3{
    padding-bottom:1rem;
    font-size: 2.5rem;
    color:var(--black);
    text-transform: uppercase;
}

.login-form-container #close-login-form{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}

.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.home h3{
    color:var(--black);
    font-size: 7.5vw;
    text-transform: uppercase;
}

.home img{
    width:100%;
    margin:1rem 0;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #eee;
}




section{
	display: inline-block;
	padding: 30px;
	margin: 20px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: white;
	width: 900px
}
#on
{
	position: absolute;
	right: 20px;
	bottom: -63px;
	height: 100px;
    width: 360px;
    font-size: medium;
}
#dis{
	position: absolute;
	right: 20px;
	bottom: -200px;
	height: 100px;
    width: 360px;
    font-size: medium;
}
#big{
	position: absolute;
	right: 20px;
	width: 360px;
	bottom: -230px;
	height: 0px;
	text-align: justify;
    font-size: medium;
}
.h
{
	color: var(--black);
	text-align: center;
	/*text-decoration: underline;*/
	font-style: normal;
	font-size: 30px;
	/*font-family: Arial;*/
}
.h1{
	padding-left: 50px;
	/*font-family: cursive;*/
    font-size: x-large;
}
#sub{
	font-size: 20px;
	/*font-family: cursive;*/

}
.spelling-error {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--yellow);
  }

.right
{		display: block;
    margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
		width: 600px;
	 	height: 300px;
	 	/*outline-style: ridge;*/
	}
.right2
{		display: block;
    margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
		width: 750px;
	 	height: 300px;
	 	/*outline-style: ridge;*/
	}
.right3
{		display: block;
    margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
		width: auto;
	 	height: 300px;
	 	/*outline-style: ridge;*/
	}
	aside {
  width: 20%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: var(--light-yellow);
   display: block;
}
.para
{	
	color: black;
	text-align: justify-all;
	font-size: 20px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: justify;
	/*font-family: Arial, sans-serif;*/
}
footer{
	height: 120px;
	width: "100%";
	background-color: var(--light-yellow);
	text-align: center;
	font-size: 20px;
	font-family: cursive;
    margin-top: 100px;
}
.ins{
	font-size: 20px;
	font-family: cursive;
	padding-left: 100px;
}

form{
	padding-left: 50px;
	font-weight: bold;
	font-size: 20px;
	font-family: cursive;
}
input{
	font-family: cursive;
}
select{
	font-family: cursive;

}
#button{
	width: 150px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	font-family: cursive;
}
.c{
	height:250px;
	width: 440px;
outline-style: ridge;
outline-width: 10px;
}

.boutton2 {
    display: inline-block;
    background-color: #f9d806;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: var(--black);
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 210px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 530px;
  }
  .boutton2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .boutton2 span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .boutton2:hover {
    background-color: #ffee80;
  }
  .boutton2:hover span {
    padding-right: 25px;
  }
  .boutton2:hover span:after {
    opacity: 1;
    right: 0;
  }
 












@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    .header.active{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: block;
    }

    #menu-btn.fa-times{
        transform:rotate(180deg);
    }

    #login-btn .btn{
        display: none;
    }

    #login-btn i{
        display: block;
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        margin:2rem;
        display: block;
        font-size: 2rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}