.search {
	align-items: center;
	color: $white;
	justify-content: center;
	background-image: linear-gradient(rgb(255, 238, 128), rgb(249, 216, 6)), url(images/background-image.jpeg);
	background-position: center center;
	background-size: cover;
	padding: 5rem 2rem 10rem;

	&,
	&__box,
	&__form,
	&__row {
		display: flex;
	}

	&,
	&__box,
	&__form {
		flex-direction: column;
	}

	&__form {
		width: 100%;
		max-width: 1200px;
		justify-content: center;
		align-items: center;
	}

	&__row {
		width: 80%;
		max-width: 1200px;
		justify-content: center;
		margin-bottom: 2rem;
	}

	&__box {
		margin: 0rem 1rem;
	}

	&__label {
		font-size: 1.4rem;
		margin-left: 2px;
		margin-bottom: 4px;
	}
}

@media (max-width: 880px) {
	.search {
		&__row {
			flex-direction: column;
			margin-bottom: 0rem;
		}

		&__box {
			margin-bottom: 1rem;
		}

		& h2 {
			display: block;
			margin: 0 auto;
			text-align: center;
			line-height: 1.3;
			margin-bottom: 1rem;
		}
	}
}